body {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}
ul, li {
	padding: 0;
	font-size: 100%;
}

ol, ul {
	list-style: none;
}

.complete {
	text-decoration: line-through;
}



























